<!-- PROVIDE the pubkey so it can be tagged for responses/alerts -->
<meta property="nostr:pubkey" content="fa80a09092fae80821d3dda28ebdbbcabbd4ca3492a89b1fc70d0fc176644e20" />

<!-- CAN provide multiple relays -->
<meta property="nostr:relay" content="wss://nostr.einundzwanzig.space" />
<meta property="nostr:relay" content="wss://nostr.bitcoiner.social" />
<!-- CAN provide the exact event_id for the root event to avoid ambuigity -->

<!-- MUST PROVIDE CSS -->
<link rel="stylesheet" href="https://unpkg.com/disgus/dist/style.css">
